version: "3.11"

services:
  ai-investment-agent:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ../app:/app/app
      - ../data:/app/data
    restart: always